.header {

}

.content {
  padding: 1rem;
  //overflow-y:auto;
  div {
    margin-bottom: 20px;
  }

  .answer {
    font-weight: bold;
  }

  .questionInfo {
    float:right;
  }
}

select {

}
.bar-subheader {

  * {
    height: 100%;
    padding: 0px;

  }

  .input-label {
    display: none;
  }
  .item-select {
    margin: 5px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
  }
  .item-select select {
    //padding: 0px;
    left: 0;
    max-width: 100%;
    direction: ltr;
    padding-right: 0px;

  }

  ion-scroll {
    height: 800px;
  }

  .options {
    padding: 0px;
    padding-bottom: 5px;
    padding-top: 0px;
  }
}

ion-footer-bar {
  padding: 0px;

  #buttonNext {
    margin: 0px;

      font-weight: bold;
      font-variant:small-caps;
  }
}

select, ion-tabs, .list {
  font-variant:small-caps;
}

#home {
  .bar-subheader {
   height: 56px;
  }
  .loader {
    position:absolute;
    top: 0px;
  }
}

.bar.bar-positive {

}

.footerBuzz {
  height: 100px;
  button span {
    font-size: 20pt;
  }
}

.buttonBuzz {
  height: 100%;
}
.content {

  h5 { //TOSSUP: or BONUS: text
    font-weight: bold;
  }
  > div {
    width: 100%;
    > div { //for ANSWER: part.
      display: inline-block;
    }
  }
  .timerButton {
    float: right;
    width: 150px;
    margin-bottom: 10px;
    margin-right: 0px;
    transition: all .2s ease-in-out;
    //margin-left-min: 20px;
  }

  .timerButton {

    color: white;
    transform: scale(2.0);
    position: fixed;
    top: 50%;
    left: 50%;
  }




}

.timerButtonLarge {
  //float

  position: absolute;
  bottom: 30%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  height: 20%;
  font-size: 30pt;

  transition: all .2s ease-in-out;
  &.timeUp {
    //margin-left: -100px;
    //width: 200px;
    //transform: scale(1.3);
    font-size: 25pt;


  }

  &.hidden {
    visibility: hidden;
  }

}

.timeUp {

  background: red !important;
  color: white;
}
