html, body {
  height: 100%;
}

#mainMenu {
  //background: black;
  .item {
    border: none;
  }

  .menu {
    width: 100%;
  }
  height: 100%;
  #title {
    background: url('../images/title.png');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px;
    background-position-x: center;
    width: 100%;
  }

  .tabs-large {
    //height: 400px;

    .tabs {

      margin: 0px 0px;
    }
    /*.tabGame, .tabReader, .tabMS, .tabHS {
      background: url('../images/brain.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }*/
    .tab-item-active {

      &.tabGame, &.tabReader {
        color: $mainMenuTabColor;
      }
      &.tabMS, &.tabHS {
        color: $mainMenuTabColor;
      }
    }
  }
}