html, body {
  height: 100%;
}

#splash2 {
  z-index: 100;
  position: absolute;
  width:100%;
  height:100%;
  background-color: black;
  background-image: url('../images/splash2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#mainMenu {
  //background: black;
  .item {
    border: none;
  }

  .menu {
    width: 100%;
  }
  height: 100%;
  #title {
    background: url('../images/title.png');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;

    background-position-x: center;
    width: 80%;

    @media only screen and (min-height:615px) {
      height:200px;
      margin: 10% auto;
    }

    @media only screen and (min-height:0px) and (max-height: 615px) {
      height:150px;
      margin: 5% auto;
    }
    @media only screen and (max-height:450px) {
      height:100px;
      margin: 2% auto;
    }
  }


  .tabs-large {
    height:80px;
    width: 80%;
    margin: auto;
    @media only screen and (max-height:500px) {
      @media only screen and (min-width:531px) {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        @media only screen and (min-height:320px) {
          margin-bottom: 20px;
        }
      }
      @media only screen and (max-width:531px) {
        padding: 0px;
      }
    }

    .tabs {

      margin: 0px 0px;
    }
    /*.tabGame, .tabReader, .tabMS, .tabHS {
      background: url('../images/brain.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }*/
    .tab-item-active {

      &.tabGame, &.tabReader {
        color: $mainMenuTabColor;
      }
      &.tabMS, &.tabHS {
        color: $mainMenuTabColor;
      }
    }
  }

  .buttonLabel { //start button
    padding: 15px;
    //height: 30px;


    @media only screen and (max-height:580px) {
      height:45px;
      margin-top: 10px;
    }

}
  .mainFooter {
    height: 60px;

    @media only screen and (max-height:400px) {
      height:40px;
    }
    .buttons {
      width: 100%;
    }
    //float:right;
    //margin-right:0px;
    //margin: auto;
    button {
      width:40%;
      margin: auto 5%;
      height: 80%;
      //margin: 0 5%;
      //margin-right: 5%;
      //margin: 0;
      //margin-left: 5%;

    }
  }

}