/**
 * Define variables here
 */

$textColor: #ccc;

$positive: cadetblue;
$sideMenuTabColor: #0c60ee;
$mainMenuTabColor: $sideMenuTabColor; //#993e09;

.animHide {
  opacity: 1;

  &.ng-hide {
    opacity: 0;
  }
  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all linear 0.5s;
  }
}