<!--<ion-header-bar class="bar-positive">
    <button class="headerBackBtn" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i> Back
    </button>
</ion-header-bar>


    <ion-view view-title="About">
        <ion-content class="has-header">
            Hello.
        </ion-content>
    </ion-view>-->

<div class="card">
    <div class="item item-text-wrap">
        <span class="smallcaps">Ashwin Ramaswami - lead developer</span>
        Ashwin is a high school senior. He currently attends Chattahoochee High School, where he started their science bowl team last year; they were state champions and qualified for nationals in their first year. He will be a freshman in the Stanford Class of 2021.

    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <span class="smallcaps">Keshav Iyer - graphics designer</span>
        Keshav is a 7th grader who goes to William Annin Middle School. He was the lead graphical designer for the app, working on the logos, splash screen, and UI design.

    </div>
</div>

<div class="card">
    <div class="item item-text-wrap">
        <span class="smallcaps">Arvind Ramaswami</span>
        is a senior at Chattahoochee High School. With his strong passion in math and physics and his position as the Earth Science major of the Science Bowl team. He was essential in proofreading the math questions as well as beta testing the app,

    </div>
</div>

<div class="card">
    <div class="item item-text-wrap">
        <span class="smallcaps">Karthik Iyer</span>
        is a high schooler from Ridge High School who is interested in the various sciences. He is an avid participant in the scene of National Science Bowl and desires to be number one. He was a beta tester and helped in the formatting and design of the app

    </div>
</div>






