<div class="card">
    <div class="item item-text-wrap">
        <h1>What is this?</h1>
        This app uses questions from the National Science Bowl website to help prepare teams for practice, let individuals practice questions of a specific subject or difficulty, and just to let people learn science!
    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <!--i class="icon ion-ios-book-outline"></i-->
        In Reader Mode, tossups and bonuses will all appear at once. This is ideal for coaches reading questions to different teams during actual rounds at practice or tournaments.
    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <!--i class="icon ion-ios-game-controller-b-outline"></i-->
        In Game Mode, tossups and bonuses will be read to you as if it's an actual science bowl round. This is good for players who are practicing questions by themselves.
    </div>
</div>





