<div class="card">
    <div class="item item-text-wrap">
        <i class="icon ion-ios-book"></i>
        In Reader Mode, tossups and bonuses will all appear at once. This is ideal for coaches reading questions to different teams during actual rounds at practice or tournaments.
    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <i class="icon ion-ios-game-controller-b"></i>
        In Game Mode, tossups and bonuses will be read to you as if it's an actual game. This is good for players who are practicing questions by themselves.
    </div>
</div>

<div class="card">
    <div class="item item-text-wrap">

    </div>
</div>

<div class="card">
    <div class="item item-text-wrap">

    </div>
</div>






