<ion-view id="home" hide-back-button="true" hide-nav-bar="false">
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-android-settings" menu-toggle="left"></button>
        <button class="button button-icon icon ion-android-more-vertical toggleSubHeaderButton"
                ng-click="hideSubHeader = !hideSubHeader" ></button>
        <h1 class="title">Science Bowl</h1>
        <button class="button button-icon icon ion-flag button-right"
                ng-click="reportProblem()"></button>
    </ion-header-bar>
    <div class="options bar bar-subheader bar-positive" ng-class="{'subHeaderHidden': hideSubHeader, 'subHeaderShown': !hideSubHeader}">

        <div class="row">

         <!--<div class="col">
             <label class="item item-input item-select">
                 <div class="input-label">
                     Category
                 </div>
                 <select ng-model="selectedCategory"
                         ng-options = "cat as cat.name for cat in categories track by cat.index"
                         ng-change = "nextQuestion(true)">
                 </select>

             </label>
         </div>
             <div class="col">
                     <label class="item item-input item-select">
                         <div class="input-label">
                             Difficulty
                         </div>
                         <select ng-model="selectedDifficulty"
                                 ng-options="diff as diff.name for diff in difficulties track by diff.index"
                                 ng-change = "nextQuestion(true)">
                         </select>

                     </label>
                 </div>-->
            <button class = 'button button-large button-balanced icon-left ion-gear-a' ng-click="openModal()">Question settings</button>
             </div>



    </div>

    <ion-content class="has-header has-footer" class="mainContent" scroll="true"
                ng-class="{'mode1': mode == 1, 'has-subheader': hideSubHeader==false}"
                 delegate-handle="small"
                 >


        <!--ion-refresher
                pulling-text="Pull for next question..."
                on-refresh="nextQuestion()">
        </ion-refresher>-->
        <div class="loader" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>
        <div class="content">

                <div ng-show="((progress >=2 && progress <=4) ) || mode == 0">
                    <h5>{{mode == C.MODEREADER ? listOfPreviousQuestionsIndex + 1 : questionNum}}. TOSSUP
                        <div class="questionInfo" ng-hide="true">
                            Set {{data.setNum}}
                            Round {{data.roundNum}}
                        </div>
                    </h5>
                    <span ng-bind-html = "data.tossupQ"></span>
                </div>
                <div ng-show="progress == 4  || mode == 0">
                    <div>
                        ANSWER: <span class=answer ng-bind-html = "data.tossupA"></span>
                    </div>

                        <button class="timerButton button button-small icon-left ion-ios-stopwatch-outline"
                                ng-click="timer.timeTU()" ng-class="{timeUp: timer.timeUp1}"
                                ng-show="mode == 0">
                            <span ng-show="!timer.time1">Start clock (5 s)</span>
                            <span ng-show="timer.time1" ng-bind="timer.time1"></span>
                        </button>
                </div>

            <hr ng-show="mode==0" style="clear:both;">
            <div ng-show="(progress >= 5 && progress <=7) || mode == 0">
                <h5>{{questionNum}}. BONUS</h5> <span ng-bind-html="data.bonusQ"></span>
            </div>
            <div ng-show="progress == 7 || mode == 0">
                ANSWER: <span class=answer ng-bind-html="data.bonusA"></span>

                <button class="timerButton button button-small icon-left ion-ios-stopwatch-outline" ng-click="timer.timeBonus()"
                ng-class="{timeUp: timer.timeUp2}" ng-show="mode == 0">
                    <span ng-show="!timer.time2">Start clock (20 s)</span>
                    <span ng-show="timer.time2" ng-bind="timer.time2"></span>
                </button>
            </div>

            <div id="nativeAd" style="width:100%;">
            </div>


            </div>



        </div>

    </ion-content>

    <button class="timerButtonLarge button button-large button-assertive icon-left ion-ios-stopwatch-outline"
            ng-click="" ng-class="{timeUp: timer.timeUp1, hidden: !(mode == 1 && progress==3) }">
        <span ng-show="timer.time1" ng-bind="timer.time1"></span>
    </button>

    <button class="timerButtonLarge button button-large button-assertive icon-left ion-ios-stopwatch-outline"
            ng-click="" ng-class="{timeUp: timer.timeUp2, hidden: !(mode == 1 && progress==6) }">
        <span ng-show="timer.time2" ng-bind="timer.time2"></span>
    </button>





    <ion-footer-bar ng-if="mode == C.MODEGAME" ng-class="{'footerBuzz': mode == 1}">

        <button id="buttonNext" class="button icon-right ion-chevron-right button-outline
        button-positive button-large button-block"
        ng-click="nextQuestion()" ng-hide="progress == 5">
            <span ng-show="mode==0">Next Question</span>
            <span ng-show="progress==1">Loading...</span>
            <span ng-show="progress==4">View Bonus</span>
            <span ng-show="progress == 7">Next Question</span>
            <span ng-show="progress==2" class="buzzText">Buzz</span>
            <span ng-show="progress == 5">Skip to End</span>
            <span ng-show="progress==3 || progress == 6">Show Answer</span>
        </button>
    </ion-footer-bar>
<
    <ion-footer-bar ng-if="mode == C.MODEREADER" class="footerReader">
        <div class="timerButtonFooterDiv">
                <button class="timerButton button button-small icon-left ion-ios-stopwatch-outline"
                        ng-click="timer.timeHalfRound()"
                        ng-class="{'paused': timer.int3 && timer.int3.$$state.value == 'canceled'}"
                        ng-class="{timeUp: timer.timeUp3}" ng-show="mode == 0">
                    <span ng-show="!timer.time3">Start clock<wbr><span style="white-space:nowrap">(8 min.)</span></span>
                    <span class="time3" ng-show="timer.time3" ng-bind="timer.time3"></span>
                </button>
            </div>
        <div class="buttonPrevNextDiv">

                <button id="buttonNext" class="button icon-right ion-chevron-right button-outline
                button-positive button-large button-block"
                        ng-click="nextQuestion()" ng-hide="progress == 5">
                    <span ng-show="mode==0">Next Question</span>
                </button>
            <button id="buttonNext" class="button icon-left ion-chevron-left button-outline
                button-positive button-large button-block"
                    ng-click="previousQuestion()" ng-hide="progress == 5"
                    ng-disabled="listOfPreviousQuestionsIndex==0">
                <span ng-show="mode==0">Previous Question</span>
            </button>
        </div>
    </ion-footer-bar>


</ion-view>
