<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">National Science Bowl Quizzer</h1>
    </ion-header-bar>

    <ion-pane class="has-header" style="top:40px;">

        <div class="options">
            <label class="item item-input item-select">
                <div class="input-label">
                    Category
                </div>
                <select ng-model="selectedCategory"
                        ng-options = "cat for cat in categories track by categories.indexOf(cat)"
                        ng-change = "nextQuestion()">
                </select>

            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Difficulty
                </div>
                <select ng-model="selectedDifficulty"
                        ng-options="i for i in difficulties track by difficulties.indexOf(cat)"
                        ng-change = "nextQuestion()">
                </select>

            </label>


        </div>
        <!--ion-refresher
                pulling-text="Pull for next question..."
                on-refresh="nextQuestion()">
        </ion-refresher>
        <div class="loader" ng-if="!data">
            <ion-spinner></ion-spinner>
        </div-->
        <ion-scroll delegate-handle="small">
        <div class="content">
            <div>
                <h5>TOSSUP</h5> <span ng-bind-html = "data.tossupQ"></span>
            </div>
            <div>
                ANSWER: <span class=answer ng-bind-html = "data.tossupA"></span>
            </div>

            <hr>
            <div>
                <h5>BONUS</h5> <span ng-bind-html="data.bonusQ"></span>
            </div>
            <div>
                ANSWER: <span class=answer ng-bind-html="data.bonusA"></span>
            </div>

        </div>
            </ion-scroll>

    </ion-pane>

    <ion-footer-bar>
        <button class="button icon-right ion-chevron-right button-calm button-large" style="width:100%;"
        ng-click="nextQuestion()">
            Next question
        </button>
    </ion-footer-bar>

</ion-view>
