
    <!--ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Settings</h1>
    </ion-header-bar-->

    <ion-view id="mainMenu">
        <div id="splash2" ng-hide="!showSplash"></div>
        <div class="list menu">
            <div class="item" id="title">

            </div>

            <div id="settingDifficultyWrapper">
                <ion-tabs class="item tabs-large tabs-default tabs-icon-top" delegate-handle="level">

                    <ion-tab title="Middle school" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks"
                             on-select="toggleLevel(0)" class="tabMS">
                        <!-- Tab 1 content -->
                    </ion-tab>

                    <ion-tab title="High school" icon-on="ion-university" icon-off="ion-university"
                             on-select="toggleLevel(1)" class="tabHS">
                        <!-- Tab 2 content -->
                    </ion-tab>

                </ion-tabs>
            </div>


            <ion-tabs class="item tabs-large tabs-stable tabs-icon-top" delegate-handle="mode">

                <ion-tab title="Game mode" icon-on="ion-ios-game-controller-b" icon-off="ion-ios-game-controller-b-outline"
                         on-select="toggleMode(1)" class="tabGame">
                    <!-- Tab 2 content -->
                </ion-tab>

                <ion-tab title="Reader mode" icon-on="ion-ios-book" icon-off="ion-ios-book-outline"
                         on-select="toggleMode(0)" class="tabReader">
                    <!-- Tab 1 content -->
                </ion-tab>


            </ion-tabs>

            <label class="item item-input buttonLabel">
                <button class="button button-full button-balanced button-large" ng-click="start()">
                    Start!
                </button>
            </label>

            <ion-footer-bar class="mainFooter">
                <div class="buttons">
                    <button class="button icon button-outline button-dark item-icon-left ion-help-circled" ng-click="showHelpPopup()">
                        Help
                    </button>
                    <button class="button icon button-outline button-dark item-icon-left ion-ios-information-outline" ng-click="showAboutPopup()">
                        About
                    </button>
                </div>
            </ion-footer-bar>



            <!--ion-toggle>
        <span class="settings-item__text">
            Allow cookies
        </span>
            </ion-toggle-->

        </div>


    </ion-view>
