
<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Settings</h1>
        <button class ="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <select>
            <option value = "1">Set 1</option>
            <option value = "2">Set 2</option>
            <option value = "3">Set 3</option>
            <option value = "4">Set 4</option>
            <option value = "5">Set 5</option>
            <option value = "6">Set 6</option>
            <option value = "7">Set 7</option>
            <option value = "8">Set 8</option>
        </select>
        <select>
            <option value = "1">Packet 1</option>
            <option value = "2">Packet 2</option>
            <option value = "3">Packet 3</option>
            <option value = "4">Packet 4</option>
            <option value = "5">Packet 5</option>
            <option value = "6">Packet 6</option>
            <option value = "7">Packet 7</option>
            <option value = "8">Packet 8</option>
            <option value = "9">Packet 9</option>
            <option value = "10">Packet 10</option>
            <option value = "11">Packet 11</option>
            <option value = "12">Packet 12</option>
            <option value = "13">Packet 13</option>
            <option value = "14">Packet 14</option>
            <option value = "15">Packet 15</option>
            <option value = "16">Packet 16</option>
            <option value = "17">Packet 17</option>
        </select>

        <select>
            <option value = "slow">Slow</option>
            <option value = "medium">Medium</option>
            <option value = "fast">Fast</option>
        </select>
    </ion-content>
</ion-modal-view>