.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.popupAbout {
  opacity: 1;
  * {
    opacity: 1;
  }
  .popup{
    //styling for popup width, width: 300px;
    width: 90%;
    background: rgba(255, 255, 255, 0.92);
  }
  .popup-title{
    font-weight: bold;
    font-variant: all-small-caps;
    font-size: 20pt;
  }
  .smallcaps {
    font-variant: small-caps;
    display: block;
    margin-bottom: 10px;
  }
  .icon {
    display: block;
    float:left;
    font-size:20px;
    //margin-right: 10px;
    //margin-bottom: 10px;
    margin: 2px;
    font-weight: bold;
    color: darkblue;
    //-webkit-text-stroke-width: 1px;
  }

}